<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head',{title: 'Carrito de compras'})%>
<body>
   
    <%-include('./partials/header')%>
   
</div>
        <!-- Banner Antes del MAIN --> 
    <section class="contenedor_banner">
    
        <div class="banner"> 

            <article class="banner_section">
              <div class="contenedor_banner">

                <img class="img_evento_principal" src="/images/LollaArgentina2022_A.jpeg" width="150" alt="Cafetera Moulinex" class="product_img"> 
                <p class="description_banner">Lollapalooza​ es un festival musical de los Estados Unidos que originalmente ofrecía bandas de rock alternativo, indie y punk rock; también hay actuaciones cómicas y de danza. Concebido en 1991 por Perry Farrell, cantante de Jane's Addiction, Lollapalooza se realizó anualmente hasta 1997</p>
                <p class="titulo_banner">Lolla Pallooza</p>
                <a class="info_banner" href="/register"> Mas información </a>
                    
               </div>
            </article>
        </div>   
    </section>
<main>
    <div class="create-container">

        <div class="form-title">
            <h2>Iniciar Sesion:</h2>
        </div>

        <div class="form-container">
            <form action="/login" method="POST">
                
                <label class='form-label' for=userName" >Ingrese su Usuario:</label>
                <input
                class="form-input"
                  type="text"
                  id="userName"
                  name="userName"
                  placeholder="Nombre de usuario"
                />
          
                <label class='form-label' for="pasword">Ingrese su Contraseña:</label>
                <input
                class="form-input"
                  type="password"
                  id="pasword"
                  name="pasword"
                  placeholder="Contraseña"
                />
      
                <label class='form-label' for="passwordConfirm" >Repita su Contraseña:</label>
                <input
                class="form-input"
                  type="password"
                  id="passwordConfirm"
                  name="passwordConfirm"
                  placeholder="Repita Contraseña"
                />
             
          <div class='purchase-detail' >
            <button type="submit">
                Confirmar
            </button>
         </div>
                
            </form>
        </div>
    </div>
    
    

</main>

<%-include('./partials/footer')%>
</body>
</html>